<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Gifts Kart</title>
</head>
<body>

    <header>
        <h1>Gifts Kart</h1>
        <nav>
            <ul>

                <li><a href="index.html">Home</a></li>
                
            </ul>
        </nav>
    </header>

    <section class="about-us-content">

        <h2>Welcome to Gifts Kart</h2>

        <p>We are committed to providing the best products and services to our customers.</p>

        <p>We offer gift card from various brands. Happy Shopping!</p>

        <h1>For any query email us at support@giftskart.in</h1>

    </section>

    <footer>
        <p>&copy; 2023 Gifts Kart</p>
    </footer>

</body>
</html>
